* {
  box-sizing: boarder-box;
}
.header {
  display: block;
  height: 15%;
  width:100%;
  padding-top: 10px;
  position: absolute;
  background-color: whitesmoke;
  
}

h1 {
}

.main {
}

h3 {
}

.left {
  display: block;
  position: fixed;
  width: 25%;
  height:100%;
  padding-left: 10px;
  background-color: dimgray;
}

h6 {
}
