* {
  padding: 10px 150px 10px 150px;
  margin: 20px 200px 20px 200px;
}
    
.header {
  display: block;
  height: 15px;
  position: absolute;
  background-color: whitesmoke;
  
}

h1 {
}

.main {
}

h3 {
}

.left {
  display: block;
  position: fixed;
  width: 20%;
  background-color: dimgray;
}

h6 {
}
