.header {
  display: block;
  position: absolute;
  background-color: whitesmoke;
  
}

h1 {
}

.main {
}

h3 {
}

.left {
  display: block;
  position: fixed;
  width: 20%;
  background-color: darkslategray;
}

h6 {
}
